{% extends 'base.html' %}

{% block title %}Backgrounds{% endblock title %}

{% block body %}

<center><h2>Backgrounds photos</h2></center>

<div class="images mx-3 my-3">
<img src="/static/images/backgrounds/Pid50.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid51.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid52.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid53.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid54.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid55.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid56.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid57.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid58.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid59.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid60.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid61.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid62.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid63.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid64.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid65.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid67.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid68.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid69.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid70.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid70-1.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid71.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid72.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid73.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid74.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid-75.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid76.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid77.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid78.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid79.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid80.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid81.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid82.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid83.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid84.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid85.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">

<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>






<img src="/static/images/backgrounds/Pid86.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid87.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid88.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid89.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid90.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid91.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid92.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid93.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid94.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid95.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid96.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid97.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid98.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid99.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid100.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid101.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid102.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
{% comment %} 
<img src="/static/images/backgrounds/Pid68.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid69.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid70.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid70-1.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid71.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid72.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid73.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid74.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid75.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid76.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid77.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid78.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid79.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid80.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid81.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid82.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid83.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid84.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/backgrounds/Pid85.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">

<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
 {% endcomment %}
</div>


{% endblock body %}