{% extends 'base.html' %}

{% block title %}First_Night{% endblock title %}

{% block body %}

<center><h2>First_Night</h2></center>

<div class="images mx-3 my-3">
<img src="/static/images/first_night/Pid101.jpg" class="img-fluid my-3 mx-0 " alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid102.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid103.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid104.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid105.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid106.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid107.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid108.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid109.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid110.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid111.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid112.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid113.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid114.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid115.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid116.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid117.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid118.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid119.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/first_night/Pid120.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
</div>

{% endblock body %}