{% extends 'base.html' %}

{% block title %}haldhi{% endblock title %}

{% block body %}

<center><h2>Haldhi photos</h2></center>

<div class="images mx-3 my-3">
<img src="https://docs.google.com/uc?id=1ZKj5K71ONllAiILn3v4HqRGaTleLdmcN" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="https://docs.google.com/uc?id=1ZTyd93gEfmRBShvzDMIWZhoYCcw4YySs" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="https://docs.google.com/uc?id=1ZWgUVCv7Cx4ERJ8jCuqvwSotEh2Fu0Gj" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="https://docs.google.com/uc?id=1ZXJIeAv_zRDTltY2xVcpyZxwnk7mC983" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="https://docs.google.com/uc?id=1ZiE4fkTr3Ejf-ZS6ysk0Wxi3j6S1TX_W" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="https://docs.google.com/uc?id=1ZjIuK_XCMGFMfuXFCdWmfCIbfVLKB1_C" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="https://docs.google.com/uc?id=1Zt_xrViLc2r4X6WTnuNsi4AOr3p9QXrA" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

</div>

{% endblock body %}
