{% extends 'base.html' %}

{% block title %}house{% endblock title %}

{% block body %}

<center><h2>House</h2></center>

<div class="images mx-3 my-3">
  
 <img src="/static/images/house/pid399[1].jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid400[1].jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid401[1].jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid402[1].jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-403[1].jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid404[1].jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
  
  
  
  
  
<img src="/static/images/house/pid-700.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-701.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-702.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-703.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-704.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-705.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-706.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-707-1.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-707.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-709.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-710.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-711.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-712.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-713.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-714.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-715.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-716.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></ouse/
<img src="/static/images/house/pid-717.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-718.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-719.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-720.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

<img src="/static/images/house/pid-721-1.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>



<img src="/static/images/house/pid-723.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>



<img src="/static/images/house/pid-722.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

</div>


{% endblock body %}
