{% extends 'base.html' %}

{% block title %}Dandalu | Jadalu{% endblock title %}

{% block body %}

<center><h2>Dandalu | Jadalu</h2></center>


<div class="images mx-3 my-3">
    <!-- <img src="/static/images/jd/Pid-1000.jpg" class="img-fluid my-3 mx-0 " alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center> -->
    <img src="/static/images/jd/Pid-1001.jpg" class="img-fluid my-3 mx-0" alt="Responsive image" oncontextmenu="return false">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1002.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <!-- <img src="/static/images/jd/Pid-1003.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center> -->
    <img src="/static/images/jd/Pid-1004.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1005.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1006.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1007.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1008.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1009.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1010.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1011.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1012.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1013.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1014.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1015.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1016.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1017.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1018.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1019.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>

    <img src="/static/images/jd/Pid-1020.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1021.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1022.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1023.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1024.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1025.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1026.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1027.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1028.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1029.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1030.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1031.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1032.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
    <img src="/static/images/jd/Pid-1033.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
    <center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>










    </div>
    



{% endblock body %}
