{% extends 'base.html' %}

{% block title %}Marriage{% endblock title %}

{% block body %}

<center><h2 class="my-2">Marriage photos</h2></center>

<div class="images mx-3 my-3">
<img src="/static/images/marriage/Pid1.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid2.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid3.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid4.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid5.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid6.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid7.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid8.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid9.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid10.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>






<img src="/static/images/marriage/pid-12.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-13.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-15.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-16.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-17.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-18.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-19.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-20.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-21.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-22.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>




<img src="/static/images/marriage/pid-23.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-24.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-25.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-26.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-27.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-28.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-29.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-30.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-31.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-32.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-33.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>





<img src="/static/images/marriage/Pid-27.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-28.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-34.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-35.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-36.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-37.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-38.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-39.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-39.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-40.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>



<img src="/static/images/marriage/Pid-41.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-42.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-43.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-44.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-45.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-600.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>





<img src="/static/images/marriage/Pid-601.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/pid-602.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-603.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-604.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-605.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-606.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-607.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-608.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-609.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-611.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>
<img src="/static/images/marriage/Pid-612.jpg" class="img-fluid my-3 mx-0" alt="Responsive image">
<center><a href="/contact"><button type="button" class="btn btn-secondary my-0">BOOK</button></a></center>



<p>More images will be added soon....</p>
</div>

{% endblock body %}
